.c-form {
    width: 100%;
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        color: $gray;
        font-size: 1.6rem;
        background: $white;
        padding: 2rem;
        border: none;
        border-radius: 4rem;
        box-sizing: border-box;
        outline: none;
        @include media(s) {
            font-size: 1.4rem;
        }
        &.error {
            border: 2px solid $red;
        }
        &.edit {
            border: 1px solid $gray;
        }
    }
    input[type=checkbox] {
        display: none;
    }
    .c-form__check--text {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        padding: 5px 30px;
        position: relative;
        width: auto;
        font-size: 1.6rem;
        color: $gray;
        @include media(s) {
            font-size: 1.4rem;
        }
        &::before {
            content: '';
            display: block;
            background: $white;
            position: absolute;
            left: 5px;
            margin-top: -8px;
            top: 50%;
            width: 16px;
            height: 16px;
            border: 1px solid $gray;
            border-radius: 5px;
            outline: none;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -7px;
            width: 5px;
            height: 9px;
            border-right: 3px solid $red;
            border-bottom: 3px solid $red;
            transform: rotate(45deg);
            opacity: 0;
        }
    }
    input[type=checkbox]:checked + .c-form__check--text::after {
        opacity: 1;
    }
}